$context.setCacheDuration(0)
#if("$!renderDocument" != '')
  #set($blogDoc = $renderDocument)
#end
#if("$!pageDoc.documentReference" != '')
  #set($theDoc = $xwiki.getDocument($pageDoc.documentReference))
#elseif("$!celldoc" != '')
  #set($theDoc = $celldoc)
#else
  #set($theDoc = $doc)
#end
#if("$!blogDoc" ==  '')
  #set($blogDoc = $theDoc)
#end
#set($blogDocRef = $blogDoc.getDocumentReference())
#set($spaceRef = $services.celblog.getBlogSpaceRef($blogDocRef))
#set($blogObj = $!blogDoc.getObject('Celements2.BlogConfigClass'))

## performance optimisation for browser cache
#set($sql = "where (doc.space = '$!spaceRef.getName()'")
#foreach($subsSpaceRef in $services.celblog.getSubribedToBlogs($blogDocRef))
  #set($subsSpace = $subsSpaceRef.getName())
  #set($sql = "${sql} or doc.space='$subsSpace'")
#end
#set($sql = "${sql}) order by doc.date desc")
#set($mostRecentChangedArticle = $xwiki.searchDocuments($sql, 1, 0))
#if($mostRecentChangedArticle.size() > 0)
  #set($lastChanged = $xwiki.getDocument($mostRecentChangedArticle.get(0)).getDate()) 
#else
  #set($lastChanged = $blogDoc) 
#end
#set($reqIfModifiedSince = $request.getDateHeader("If-Modified-Since"))
#set($If_Modified_Since = ($lastChanged.getTime() == $reqIfModifiedSince))
#set($If_Not_loggedIn = ($context.getUser() == "XWiki.XWikiGuest"))
#if($If_Not_loggedIn && $If_Modified_Since)
  $response.setStatus(304)
  $context.setFinished(true)
#else
#if($If_Not_loggedIn)
  $response.setDateHeader("Last-Modified", $lastChanged.getTime())
#end

## set article load parameter & get articles
#set($isarchive = (("$request.get('archive')" == '1') || ("$cel_redParams_Map.get('archive')" == '1')))
#set($subscribable = "$!request.get('subscribable')" == '1')
#set($newSubscribable = "$!request.get('newSubscribable')" == '1')
#if($isarchive)
  #set($articleParam = $services.celblog.getArchiveArticleLoadParameter())
#elseif($subscribable)
  #set($articleParam = $services.celblog.getAllSubsribedArticleLoadParameter())
#elseif($newSubscribable)
  #set($articleParam = $services.celblog.getUndecidedArticleLoadParameter())
#else
  #set($articleParam = $services.celblog.getDefaultArticleLoadParameter())
#end
#set($devNull = $articleParam.setLanguage("$default_language"))
#set($start = $util.parseInt("$request.get('start')"))
#if(("$!start" != '') && ($start > 0))
  #set($devNull = $articleParam.setOffset($start))
#end
#set($nb = $util.parseInt("$request.get('nb')"))
#if("$!nb" == '')
  #set($nb = $util.parseInt("$!blogObj.getProperty('art_per_page').getValue()"))
#end
#if(("$!nb" != '') && ($nb > 0))
  #set($devNull = $articleParam.setLimit($nb))
#end
#set($articles = $services.celblog.getArticles($blogDocRef, $articleParam))

##render blog title
#if("$!blogTitle" == '')
  #if($isarchive)
    #set($titleDoc = $theDoc)
  #else
    #set($titleDoc = $blogDoc)
  #end
  #if("$!titleDoc.getTitle()" == '')
    #set($blogTitle = "$!titleDoc.getObject('Content.Title').getProperty('title').getValue()")
  #else
    #set($blogTitle = "$!titleDoc.getTitle()")
  #end
#end
#if("$!supressBlogTitle" == '')
  #set($supressBlogTitle = !$celementsweb.getPageType($blogDoc.fullName).hasPageTitle())
#end
#if("$!showArticleBlogName" == '')
  #set($showArticleBlogName = false)
#end
#set($viewtype = "$!blogObj.getProperty('viewtype').getValue()")
#if("$!viewtype" == '')
  #set($viewtype = 'extract')
#end

#if("$!request.xpage" == 'rdf') ## RSS mode
  #set($title = $!xwiki.getSpacePreference("title"))
  #if("$title" != '')
    #set($title = "$xwiki.parseContent($title) $!blogTitle")
  #else
    #set($title = "$!blogTitle")
  #end
  #set($baseurl = "http://${request.serverName}")
  #parse('celMacros/BlogRssCode.vm')
#else ## normal (XHTML) mode
  #set($has_comments = "$!blogObj.getProperty('has_comments').getValue()") 
  #if("$!has_comments" == '1')
    #set($has_comments = true)
  #else
    #set($has_comments = false)
  #end

#if(!$deactivateArticleMsgs)
  #if(!$newSubscribable)
    #set($articleParam = $services.celblog.getUndecidedArticleLoadParameter())
    #set($devNull = $articleParam.setLanguage("$default_language"))
    #set($undecidedArticles = $services.celblog.getArticles($blogDocRef, $articleParam).size())
    #if($undecidedArticles > 0)
      #if($undecidedArticles == 1)
        #set($artMsgStr = "Article")
      #else
        #set($artMsgStr = "Articles")
      #end
      <div class="newSubscribableArticleWarning">
        $adminMsg.get("rls_newSubscribable$!{artMsgStr}Warning", ["$!undecidedArticles"])
        <a href="?newSubscribable=1">$adminMsg.get("rls_newSubscribable$!{artMsgStr}ViewLink")</a>
      </div>
    #end
  #end
  #if(!$subscribable)
    #set($articleParam = $services.celblog.getAllSubsribedArticleLoadParameter())
    #set($devNull = $articleParam.setLanguage("$default_language"))
    #set($subscribableArticles = $services.celblog.getArticles($blogDocRef, $articleParam).size())
    #if($subscribableArticles > 0)
      $adminMsg.get('rls_showAllSubscribable', ["$!blogPageName"])
      <a href="?subscribable=1">$adminMsg.get('rls_showAllSubscribableLink')</a>
    #end
  #end
#end
  
  #if(("$!blogTitle" != '') && !$supressBlogTitle)
    <h1 class="pageTitle">$blogTitle<!--iE6.0--></h1>
  #end
  <div class="cel_cm_blog_article" id="articles_start:$isarchive:$!{spaceRef.getName()}:">
  #if(("$!renderArticlesMacro" == '') || !$xwiki.exists($renderArticlesMacro))
    #set($renderArticlesMacro = 'celMacros/renderBlogArticles.vm')
    #parse('celMacros/renderBlogArticles.vm')
  #else
    $xwiki.includeForm("$renderArticlesMacro", false)
  #end
  </div> <!-- articles_start -->
#end ## mode rdf/xhtml

#end ## If-Modified-Since
