$context.setCacheDuration(0)
#set($space_blogName = '')
#if("$!renderDocument" != '')
  #set($blogDoc = $renderDocument)
#end
#if("$!blogDoc" ==  '')
#set($blogDoc = $doc)
#end
#if("$!suppressSubscribeable" == '')
  #set($suppressSubscribeable = false)
#end
#if("$!showArticleBlogName" == '')
  #set($showArticleBlogName = false)
#end
#set($isarchive = (("$request.archive" == '1') || ("$cel_redParams_Map.get('archive')" == '1')))
#if("$!blogTitle" == '')
#if($isarchive)
#set($titleDoc = $doc)
#else
#set($titleDoc = $blogDoc)
#end
#if("$!titleDoc.getTitle()" == '')
#set($blogTitle = "$!titleDoc.getObject('Content.Title').getProperty('title').getValue()")
#else
#set($blogTitle = "$!titleDoc.getTitle()")
#end
#end
#if("$!supressBlogTitle" == '')
#set($supressBlogTitle = !$celementsweb.getPageType($blogDoc.fullName).hasPageTitle())
#end
#set($blogConfig_obj = $!blogDoc.getObject('Celements2.BlogConfigClass'))
#if("$!blogConfig_obj" != '')
#set($spacename = "$!blogConfig_obj.getProperty('blogspace').getValue()")
#end
#if("$!spacename" == '')
#set($spacename = "$!blogDoc.web")
#end
#set($blog_template = "$!blogConfig_obj.getProperty('template').getValue()")
#if("$!blog_template" == '')
  #set($blog_template = 'BlogTemplates.ArticleClassTemplate')
#end
##
#set ($sql = " where")
#set ($sql = "${sql} (doc.web = '$spacename'")
#foreach($subscSpace in $subscriptions) 
  #if("$!subscSpace" != '')
    #set ($sql = "${sql} or doc.web='$subscSpace'")
  #end
#end
#set ($sql = "${sql}) order by doc.date desc")
#set($mostRecentChangedArticle = $xwiki.searchDocuments($sql, 1, 0))
#if($mostRecentChangedArticle.size() > 0)
#set($lastChanged = $xwiki.getDocument($mostRecentChangedArticle.get(0)).getDate()) 
#else
#set($lastChanged = $blogDoc) 
#end
#set($reqIfModifiedSince = $request.getDateHeader("If-Modified-Since"))
#set($If_Modified_Since = ($lastChanged.getTime() == $reqIfModifiedSince))
#set($If_Not_loggedIn = ($context.getUser() == "XWiki.XWikiGuest"))
#if($If_Not_loggedIn && $If_Modified_Since)
$response.setStatus(304)
$context.setFinished(true)
#else
#if($If_Not_loggedIn)
$response.setDateHeader("Last-Modified", $lastChanged.getTime())
#end
#if("$!request.xpage" == 'rdf')
## RSS mode
  #set($doc_name = "$!blogTitle")
  #set($title = $!xwiki.getSpacePreference("title"))
  #if ("$title" != '')
    #set($title = "$xwiki.parseContent($title) $!{doc_name}")
  #else
    #set($title = "$!{doc_name}")
  #end
  #set($blogSpace = $spacename)
  #set ($baseurl =  "http://${request.serverName}")
  #set($maxItems = 20)
  #parse('celMacros/BlogRssCode.vm')
#else
## normal (XHTML) mode
#set($viewtype = "$!blogConfig_obj.getProperty('viewtype').getValue()")
#if("$!viewtype" == '')
  #set($viewtype = 'extract')
#end
#set($has_comments = "$!blogConfig_obj.getProperty('has_comments').getValue()") 
#if("$!has_comments" == '1')
  #set($has_comments = true)
#else
  #set($has_comments = false)
#end
## blog editor: RTE or plain
#set($blogeditor = "$!blogConfig_obj.getProperty('blogeditor').getValue()")
##
#set($inbitems = "$!blogConfig_obj.getProperty('art_per_page').getValue()")
#if("$!inbitems" == '')
  #set($inbitems = 10)
#else
  #set($inbitems = $xwiki.parseInt($inbitems))
#end
#if("$!context.getRequest().get('nbstart')" != "")
  #set($inbstart = $xwiki.parseInt($!context.getRequest().get("nbstart")))
#else
  #set($inbstart = 0)
#end
#set($subscribable = "$!request.get('subscribable')" == '1')
#set($newSubscribable = "$!request.get('newSubscribable')" == '1')
##
#set($isoldblog = ("$!blogeditor" == ''))

#set($space_blogName = "$!blogConfig_obj.getProperty('subscribe_to').getValue()")
#set($blogApi = $xwiki.celementsblog)
#if($isarchive)
  #set($articles = $blogApi.getArchivedArticles("$spacename", "$space_blogName", "$default_language"))
#elseif($subscribable)
  #set($articles = $blogApi.getAllFromSubscribedBlogs("$spacename", "$space_blogName", "$default_language"))
#elseif($newSubscribable)
  #set($articles = $blogApi.getAllNewSubscribable("$spacename", "$space_blogName", "$default_language"))
#else
  #set($articles = $blogApi.getArticles("$spacename", "$space_blogName", "$default_language"))
#end
  #if($blogDoc.hasAccessLevel("edit"))
    #set($allArticles = $blogApi.getAllWithRightsArticles("$spacename", "$space_blogName", "$default_language"))
    #if("$!request.get('newSubscribable')" != 1)
      #set($undecidedArticles = $blogApi.containsUndecidedArticles($allArticles, "$spacename"))
      #if($undecidedArticles == 1)
        ## write warning 
        <div class="newSubscribableArticleWarning">
            $adminMsg.get('rls_newSubscribableArticleWarning')
            <a href="?newSubscribable=1">$adminMsg.get('rls_newSubscribableArticleViewLink')</a>
        </div>
      #elseif($undecidedArticles > 1)
        ## write warning 
        <div class="newSubscribableArticleWarning">
            $adminMsg.get('rls_newSubscribableArticlesWarning', ["$!undecidedArticles"])
            <a href="?newSubscribable=1">$adminMsg.get('rls_newSubscribableArticlesViewLink')</a>
        </div>
      #end
    #end
    #if("$!request.get('subscribable')" != '1')
      #set($subscribableArticles = $blogApi.containsSubscribableArticles($allArticles, "$spacename"))
      #if($subscribableArticles > 0)
        $adminMsg.get('rls_showAllSubscribable', ["$!blogPageName"]) <a href="?subscribable=1">$adminMsg.get('rls_showAllSubscribableLink')</a>
      #end
    #end
  #end
## render Blog
#if(("$!blogTitle" != '') && !$supressBlogTitle)
<h1 class="pageTitle">$blogTitle<!--iE6.0--></h1>
#end
<div class="cel_cm_blog_article" id="articles_start:$isarchive:$!{spacename}:">
#if(("$!renderArticlesMacro" == '') || !$xwiki.exists($renderArticlesMacro))
  #set($renderArticlesMacro = 'celMacros/renderBlogArticles.vm')
  #parse('celMacros/renderBlogArticles.vm')
#else
   $xwiki.includeForm("$renderArticlesMacro", false)
#end
</div> <!-- articles_start -->
##
#end
#end ## ##If-Modified-Since
