#set($blogname = $xwiki.celementsblog.getBlogPageByBlogSpace($doc.getSpace()).getFullName())
#if (("$!{blogname}" == "") && ("$!doc.getObject('Celements2.BlogConfigClass')" != ""))
  #set($blogname = $doc.getFullName())
#end

#set($blogstr = "%$blogname%")

#set($orderByDate = $request.orderByDate)
#if ("$!orderByDate" == "1")
	#set($sortText = "Alphabetisch sortieren")
	#set($orderByDateParam = "0")
#else
	#set($sortText = "Nach Datum sortieren")
	#set($orderByDateParam = "1")
#end

##Aktive Emailadresse
#if ("$!orderByDate" == "1")
	#set($emailActiveList = $services.celblog.getAddressesOrderedByDate($services.model.resolveDocument($blogname)))
#else
	#set($emailActiveList = $services.celblog.getAddresses($services.model.resolveDocument($blogname)))
#end
#set($activeCount = $emailActiveList.size())


##Inaktive Emailadresse
#if ("$!orderByDate" == "1")
	#set($xwql = "from doc.object('Celements.NewsletterReceiverClass') as nr where nr.isactive='0' and nr.subscribed like '${blogstr}' order by doc.date desc")
#else
	#set($xwql = "from doc.object('Celements.NewsletterReceiverClass') as nr where nr.isactive='0' and nr.subscribed like '${blogstr}' order by nr.email")
#end
#set($emailInactiveDocNameList = $services.query.xwql($xwql).execute())
#set($inactiveCount = $emailInactiveDocNameList.size())


<div class="cel_newsletterImport">

<h1>Newsletter Emailadressen 
<span style="font-size: 10px;"><a href='$doc.getURL("view","xpage=overlay&conf=NewsletterAddressList&xredirect=${request.xredirect}&orderByDate=${orderByDateParam}")'>$sortText</a>
</span>
</h1>
<br/>
<div style="float: left;">
<strong>Aktive ($activeCount):</strong><br/>
<textarea name="active" id="textarea_active" cols="60" rows="30">
#foreach($emailAdr in $emailActiveList)
#if ("$!orderByDate" == "1")
#set($emailLang = "$!{mailObj.getProperty().getValue()}")
#if("$!emailLang" == '')
  #set($emailLang = "-")
#end
$emailAdr.getEmailAdr()&#09;$emailLang&#09;$datetool.format('dd.MM.yyyy HH:mm', $emailAdr.getChangeDate())
#else
$emailAdr
#end
#end
</textarea>	
</div>

<div style="float: left;padding-left:10px;">
<strong>Inaktive ($inactiveCount):</strong><br/>
<textarea name="inactive" id="textarea_inactive" cols="60" rows="30">
#foreach($mailDocName in $emailInactiveDocNameList)
#set($mailDoc = $xwiki.getDocument($mailDocName))
#set($mailObj = $mailDoc.getObject('Celements.NewsletterReceiverClass', 'subscribed', "${blogname}", false))
#set($emailAdr = "$!mailObj.getProperty('email').getValue()")
#if ("$!orderByDate" == "1")
#set($emailLang = "$!{mailObj.getProperty().getValue()}")
#if("$!emailLang" == '')
  #set($emailLang = "-")
#end
$emailAdr&#09;$emailLang&#09;$datetool.format('dd.MM.yyyy HH:mm', $mailDoc.date)
#else
$emailAdr
#end
#end
</textarea>

</div>
</div>