#if(("$!elemId" == '')  && ($!elemParams.size() > 2))
#set($spacename = "$!elemParams.get(2)")
#set($blogDocRef = $services.celblog.getBlogDocRefByBlogSpace("$!{spacename}"))
#if("$!blogDocRef" != '')
#set($blogDoc = $xwiki.getDocument($blogDocRef))
#set($blogConfig_obj = $!blogDoc.getObject('Celements2.BlogConfigClass'))
#set($new_name = $celementsweb.getNextTitledPageFullName("$!{spacename}", "Article"))
#if($has_comments)
#set($hasCommentsURL = '1')
#else
#set($hasCommentsURL = '0')
#end
#set($blog_template = "$!blogConfig_obj.getProperty('template').getValue()")
#if("$!blog_template" == '')
  #set($defaultBlogTemplateDocRef = $services.model.createDocumentReference('','BlogTemplates','ArticleClassTemplate'))
  #set($defaultCentralBlogTemplateDocRef = $services.model.createDocumentReference('celements2web','BlogTemplates','ArticleClassTemplate'))
  #if($xwiki.exists($defaultBlogTemplateDocRef))
    #set($blog_template = $services.model.serialize($defaultBlogTemplateDocRef, 'local'))
  #else
    #set($blog_template = $services.model.serialize($defaultCentralBlogTemplateDocRef))
  #end
#end
#set($blogeditor = "$!blogConfig_obj.getProperty('blogeditor').getValue()")
#set($l = "$xwiki.getURL($new_name, 'inline')")
#set($l = "${l}?template=${blog_template}")
#set($l = "${l}&blogeditor=${blogeditor}")
#set($l = "${l}&language=$!{services.webUtils.getDefaultLanguage()}")
#set($cmenu_pageLink = "${l}&has_comments=${hasCommentsURL}&xredirect=${doc.getURL('view')}")
window.location.href=&quot;${cmenu_pageLink}&quot;##
#end
#end