#if("$!elemId" != '')
#set($articleRef = $services.reference.resolve($elemId))
#set($l = "xredirect=$doc.getURL('view')")
#set($link = $!services.url.getURL($articleRef, 'inline', "$!l"))
window.location.href=&quot;${link}&quot;##
#end