#if("$!elemId" != '')
#set($elemDocRef = $services.model.resolveDocument("$!elemId"))
#set($spaceRef = $elemDocRef.lastSpaceReference)
#set($blogDocRef = $services.celblog.getBlogDocRefForSpaceRef($spaceRef))
#set($blogDoc = $services.modelAccess.getDocument($blogDocRef))
#set($blogConfig_obj = $!blogDoc.getObject('Celements2.BlogConfigClass'))
#if("$!blogConfig_obj.getProperty('is_newsletter').getValue()" == '1')
#set($l = "xpage=overlay&conf=NewsletterSend")
#set($l = "${l}&xredirect=$doc.getURL()")
#set($link = $!services.url.getURL($elemDocRef, 'view', "$!l"))
window.location.href=&quot;${link}&quot;##
#end
#end