#parse('celMacros/setupBlogView.vm')
#if(("$!renderArticlesMacro" == '') || !$xwiki.exists($renderArticlesMacro))
  #set($renderArticlesMacro = 'celMacros/renderBlogArticles.vm')
  #parse('celMacros/renderBlogArticles.vm')
#else
  $xwiki.includeForm("$renderArticlesMacro", false)
#end
