#parse('celMacros/setupBlogView.vm')
  <span class="cel_paging_details_json" style="display:none">$!articleParamJSON.getJSON()</span>
#set($renderArticlesMacroRef = $services.reference.resolveDocRef("$renderArticlesMacro"))
#if(("$!renderArticlesMacro" != '') && $services.modelAccess.exists($renderArticlesMacroRef))
  $services.celementsweb.renderCelementsDocument($renderArticlesMacroRef)
#else
  #set($renderArticlesMacro = 'celMacros/renderBlogArticles.vm')
  #parse('celMacros/renderBlogArticles.vm')
#end
