#parse('celMacros/setupBlogView.vm')
  <span class="cel_paging_details_json" style="display:none">$!articleParamJSON.getJSON()</span>
#if(("$!renderArticlesMacro" == '') || !$xwiki.exists($renderArticlesMacro))
  #set($renderArticlesMacro = 'celMacros/renderBlogArticles.vm')
  #parse('celMacros/renderBlogArticles.vm')
#else
  $xwiki.includeForm("$renderArticlesMacro", false)
#end
