## DEPRECATED, use celements-tickerCell instead
## generateNewsTicker uses a predefined outputNewsArticle Macro to
## generate the NewsTicker XHTML output.
## input: maxNumArticle, spacename, maxNumChars
## output: {XHTML}

#set($articleLoadParameter = $services.celblog.getDefaultArticleLoadParameter())
$!articleLoadParameter.setLanguage("$default_language")
#set($spaceRef = $services.reference.create().space("$!spacename").create())
#set($blogDocRef = $services.celblog.getBlogDocRefForSpaceRef($!{spaceRef}))
#set($articles = $services.celblog.getArticles($blogDocRef, $articleLoadParameter))
#if($articles.size() > 0)
  #set($count = 0)
  #foreach ($article in $articles)
    #if($count < $maxNumArticle)
      #set($count = $count + 1)
      #set($bentrydoc = $services.modelAccess.getDocument($!article.documentReference))
      #set($content = $article.getExtract("$language", false, $util.parseInt("$!maxNumChars")))
      #set($creationDate = $article.getPublishDate())
      #if("$!creationDate" != '')
        #set($blog_dateFormat = $msg.get('cel_blog_dateformat'))
        #if("$!blog_dateFormat" == '')
        ##TODO i18n issue: we must use java DateFormat for given language.
        #set($blog_dateFormat = "dd. MMMM, yyyy")
        #end
        #set($creationDateStr = $datetool.formatDate($blog_dateFormat, $creationDate))
      #end
      #set($newsDate = "$!creationDateStr")
      #set($newsTitle = "$!article.getTitle($language)")
      #set($newsLink = $!bentrydoc.getURL("view"))
      #set($newsContent = ${content})
      #ouputNewsArticle()
    #end ## maxNumArticle
  #end ##foreach
#else
    #set($newsDate = "")
    #set($newsTitle = "No news is good news.")
    #set($newsLink = "")
    #set($newsContent = "No news is good news.")
    #ouputNewsArticle()
#end
