$celementsweb.addExtJSfileOnce(':celJS/stopDblClick.js')
<div class="cel_newsletterImport">
<h1>Newsletter Emailadressen Import: Inaktiv-Liste</h1>
<br/>
#set($spaceRef = $doc.documentReference.lastSpaceReference)
#set($blogDocRef = $services.celblog.getBlogDocRefForSpaceRef($!{spaceRef}))
#set($blogDocFN = "$!services.model.serialize($blogDocRef, 'local')")
#if(("$!blogDocFN" != "") && $xwiki.hasAccessLevel("edit", $context.user, $blogDocFN))
  #template("celMacros/newsletterImportResult.vm")
  <form action="" method="post">
    <input type="hidden" name="isSubmit" value="1" />
    <input type="hidden" name="asInactive" value="1" />
    <input type="hidden" name="subsBlog" value="$!blogDocFN" />
    
    Zu importierende E-Mailadressen: Adressen m&uuml;ssen durch ein Komma oder 
    einen Zeilenumbruch voneinander getrennt werden. Die angegebenen Adressen werden 
    als <strong>inaktive</strong> Empf&auml;nger erfasst (Negativ-Liste) und erhalten 
    den Newsletter <strong>nicht</strong>. Eine inaktive Adresse kann nur durch eine erneute 
    Einzelregistration &uuml;ber das entsprechende Formular wieder aktiviert werden.<br/>
    <br/>
    <textarea style="width:500px; height:150px; background: #FFA07A" name="batchImportData"></textarea>
    <br/><br/>
    <input class="submitButton" type="submit" value="Importieren" />
  </form>
  </div>
#else
#set($loginDocRef = $services.reference.create().space("Content").doc("login").build())
<p>Not enough access rights. <a href="$services.url.getURL($loginDocRef)">goto login</a></p>
#end