$celementsweb.addExtJSfileOnce(':celJS/stopDblClick.js')
<div class="cel_newsletterImport">
<h1>Newsletter Emailadressen Import: Aktiv-Liste</h1>
<br/>
#set($spaceRef = $doc.documentReference.lastSpaceReference)
#set($blogDocRef = $services.celblog.getBlogDocRefForSpaceRef($!{spaceRef}))
#set($editLevel = $services.rightsAccess.getEAccessLevel("edit"))
#if(("$!blogDocRef" != "") && $services.rightsAccess.hasAccessLevel($blogDocRef, $editLevel))
  #parse("celMacros/newsletterImportResult.vm")
  <form action="" method="post">
    <input type="hidden" name="isSubmit" value="1" />
    <input type="hidden" name="asInactive" value="0" />
    #set($blogDocFN = "$!services.model.serialize($blogDocRef, 'local')")
    <input type="hidden" name="subsBlog" value="$!blogDocFN" />
    
    Zu importierende E-Mailadressen: Adressen m&uuml;ssen durch ein Komma oder 
    einen Zeilenumbruch voneinander getrennt werden. Die angegebenen Adressen werden 
    als aktive Empf&auml;nger erfasst (Positiv-Liste) und erhalten ohne weitere 
    Best&auml;tigung den Newsletter. Hat jemand den Newsletter abbestellt (Adresse 
    inaktiv), kann diese Adresse durch einen Import hier <strong>nicht</strong> 
    wieder aktiviert werden. Eine inaktive Adresse kann nur durch eine erneute 
    Einzelregistration &uuml;ber das entsprechende Formular wieder aktiviert werden.
    E-Mailadressen die den Newsletter nicht w&uuml;nschen werden ihn also auch nicht 
    wieder erhalten wenn ihre Adresse importiert wird.<br/>
    <br/>
    <textarea style="width:500px; height:150px; background: #98FB98" name="batchImportData"></textarea>
    <br/><br/>
    <input class="submitButton" type="submit" value="Importieren" />
  </form>
  </div>
#else
<p>Not enough access rights.<br/>
#set($loginDocRef = $services.reference.create().space("Content").doc("login").build())
<a href="$services.url.getURL($loginDocRef)">goto login</a></p>
#end