#set($spaceRef = $doc.documentReference.lastSpaceReference)
#set($blogDocRef = $services.celblog.getBlogDocRefForSpaceRef($!{spaceRef}))
#if(("$!{blogDocRef}" == "") && ("$!doc.getObject('Celements2.BlogConfigClass')" != ""))
  #set($blogDocRef = $doc.documentReference)
#end
#set($blogname = $!services.model.serialize($blogDocRef, 'local'))
#set($blogstr = "%$blogname%")
#set($orderByDate = "$!request.orderByDate")
#if("$!orderByDate" == "1")
  #set($sortText = "Alphabetisch sortieren")
  #set($orderByDateParam = "0")
#else
  #set($sortText = "Nach Datum sortieren")
  #set($orderByDateParam = "1")
#end

#set($namesVisible = "$!request.namesVisible")
#if("$!namesVisible" == "1")
  #set($namesVisibleText = "Namen ausblenden")
  #set($namesVisibleParam = "0")
#else
  #set($namesVisibleText = "Namen einblenden")
  #set($namesVisibleParam = "1")
#end

##Aktive Emailadresse
#if("$!orderByDate" == "1")
  #set($emailActiveList = $services.celblog.getAddressesOrderedByDate($blogDocRef))
#else
  #set($emailActiveList = $services.celblog.getAddresses($blogDocRef))
#end
#set($activeCount = $emailActiveList.size())


##Inaktive Emailadresse
#if("$!orderByDate" == "1")
  #set($xwql = "from doc.object('Celements.NewsletterReceiverClass') as nr where nr.isactive='0' and nr.subscribed like '${blogstr}' order by doc.date desc")
#else
  #set($xwql = "from doc.object('Celements.NewsletterReceiverClass') as nr where nr.isactive='0' and nr.subscribed like '${blogstr}' order by nr.email")
#end
#set($emailInactiveDocNameList = $services.query.xwql($xwql).execute())
#set($inactiveCount = $emailInactiveDocNameList.size())

<div class="cel_newsletterImport">

<h1>Newsletter Emailadressen
#if(("$!blogname" != "") && $xwiki.hasAccessLevel("edit", $context.user, $blogname))
  <span style="font-size: 10px;"><a href='$doc.getURL("view","xpage=overlay&conf=NewsletterAddressList&xredirect=${request.xredirect}&orderByDate=$!{orderByDateParam}&namesVisible=$!{namesVisible}")'>$sortText</a>
  </span>
  <span style="font-size: 10px;"><a href='$doc.getURL("view","xpage=overlay&conf=NewsletterAddressList&xredirect=${request.xredirect}&orderByDate=$!{orderByDate}&namesVisible=$!{namesVisibleParam}")'>$namesVisibleText</a>
  </span>
  </h1>
  <br/>
  <div style="float: left;">
  <strong>Aktive ($activeCount):</strong><br/>
  #set($activeAddresses = "")
  #foreach($emailAdr in $emailActiveList)
    #if("$!orderByDate" == "1")
      #set($mailLang = '-')##
      #if("$!{emailAdr.getLanguage()}" != '')##
        #set($mailLang = "$!{emailAdr.getLanguage()}")##
      #end##
      #set($activeAddresses = "$!{activeAddresses}$emailAdr.getEmailAdr()&#09;$mailLang&#09;$datetool.format('dd.MM.yyyy HH:mm', $emailAdr.getChangeDate())${xwiki.nl}")
    #else
      #set($activeAddresses = "$!{activeAddresses}$emailAdr${xwiki.nl}")
    #end
  #end ## foreach
  <textarea name="active" id="textarea_active" cols="60" rows="30">$!{activeAddresses}</textarea>
  </div>

  <div style="float: left;padding-left:10px;">
  <strong>Inaktive ($inactiveCount):</strong><br/>
  #set($inactiveAddresses = "")
  #foreach($mailDocName in $emailInactiveDocNameList)
    #set($mailDoc = $xwiki.getDocument($mailDocName))
    #set($mailObj = $mailDoc.getObject('Celements.NewsletterReceiverClass', 'subscribed', "${blogname}", false))
    #set($contactObj = $mailDoc.getObject('Celements.ContactClass', false))
    #set($emailAdr = "$!mailObj.getProperty('email').getValue()")
    #set($conactName = "")
    #if("$!namesVisible" == "1")
      #set($firstname = "$!{contactObj.getProperty('firstname').getValue()}")
      #if("$!firstname" == '')
        #set($firstname = "-")
      #end
      #set($lastname = "$!{contactObj.getProperty('lastname').getValue()}")
      #if("$!lastname" == '')
        #set($lastname = "-")
      #end
      #set($conactName = "&#09;$!{firstname}&#09;$!{lastname}")
    #end
    #if("$!orderByDate" == "1")
      #set($emailLang = "$!{mailObj.getProperty('language').getValue()}")
      #if("$!emailLang" == '')
        #set($emailLang = "-")
      #end
      #set($inactiveAddresses = "$!{inactiveAddresses}$emailAdr&#09;$emailLang&#09;$datetool.format('dd.MM.yyyy HH:mm', $mailDoc.date)$!{conactName}${xwiki.nl}")
    #else
      #set($inactiveAddresses = "$!{inactiveAddresses}$!{emailAdr}$!{conactName}${xwiki.nl}")
    #end
  #end
  <textarea name="inactive" id="textarea_inactive" cols="60" rows="30">$!{inactiveAddresses}</textarea>

  </div>
#else
<p>Not enough access rights.<br/>
<a href="$xwiki.getURL('Content.login')">goto login</a></p>
#end
</div>